.filled svg {
	fill: var(--primary);

	cursor: pointer;
}

.star {
	padding-right: 3px;

	cursor: pointer;
}

.ratingWrapper {
	position: relative;
}

.errorMessage {
	position: absolute;
	bottom: -18px;
	left: 3px;

	color: var(--red);
}

.error svg {
	stroke: var(--red);
}
