.product {
	display: grid;
	grid-template-columns: 1fr 1fr;

	margin-top: 30px;
	padding: 30px;
}

.left {
	display: grid;
	grid-template-columns: auto 1fr;

	align-items: center;
	gap: 9px 30px;
}

.logo {
	grid-column: 1 / 2;
	grid-row: 1 / 3;

	margin-bottom: 20px;
}

.logo img {
	border-radius: 5px;
}

.title {
	margin-bottom: -10px;
}

.tags {
	grid-column: 2 / 3;

	align-self: flex-start;
}

.tag {
	margin-bottom: 5px;
}

.right {
	display: grid;
	grid-template-columns: repeat(3, auto);

	align-content: center;

	justify-content: end;
	gap: 0 55px;
}

.price,
.credit {
	color: var(--black);

	font-size: 20px;
	line-height: 27px;
}

.oldPrice {
	margin-left: 5px;
}

.credit span {
	font-size: 14px;
	line-height: 19px;
}

.priceTitle,
.creditTitle,
.rateTitle {
	align-self: flex-start;

	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
}

.rateTitle a {
	color: var(--primary);
}

.hr {
	grid-column: 1 / 3;
}

.description {
	grid-column: 1 / 3;

	margin-bottom: 15px;
}

.feature {
	margin-top: 15px;
}

.reviewButton {
	margin-left: 20px;
}

.advBlock {
	font-size: 16px;
	line-height: 22px;
}

.advTitle {
	margin-bottom: 5px;

	font-weight: bold;
}

.advantages {
	margin-bottom: 20px;
	padding-left: 15px;

	border-left: 2px solid var(--green);
}

.disadvantages {
	padding-left: 15px;

	border-left: 2px solid var(--red);
}

.characteristics {
	display: grid;
	grid-template-columns: auto 1fr auto;

	padding-right: 60px;
	gap: 10px;

	font-size: 16px;
	line-height: 32px;
}

.characteristicsName {
	font-weight: bold;
}

.characteristicsDots {
	margin-bottom: 9px;

	border-bottom: 1px dashed #C4C4C4;
}

.closed {
	overflow: hidden;

	max-height: 0;
	padding: 0;
}

.opened {
	overflow: hidden;

	max-height: auto;
	padding: 30px;
}

@media screen and (max-width: 1350px) {
	.right {
		gap: 0 30px;
	}
}

@media screen and (max-width: 1265px) {
	.product {
		grid-template-columns: 1fr;
	}

	.left {
		grid-column: 1 / 3;
	}

	.right {
		grid-column: 1 / 3;

		justify-content: start;
	}

	.feature {
		grid-column: 1 / 3;
	}

	.logo,
	.tags {
		margin-bottom: 20px;
	}

	.title {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 850px) {
	.right {
		gap: 0 10px;
	}

	.price,
	.credit {
		font-size: 18px;
	}
}

@media screen and (max-width: 765px) {
	.right {
		gap: 0 30px;
	}

	.price,
	.credit {
		font-size: 20px;
	}
}

@media screen and (max-width: 640px) {
	.right {
		grid-template-columns: auto 1fr;
		gap: 10px 40px;
	}

	.logo {
		align-self: flex-start;
	}

	.title {
		margin-bottom: 0;
	}

	.price,
	.credit,
	.rating {
		grid-column: 2 / 3;
	}

	.priceTitle,
	.creditTitle,
	.rateTitle {
		grid-column: 1 / 2;

		align-self: center;
	}

	.priceTitle {
		grid-row: 1 / 2;
	}

	.creditTitle {
		grid-row: 2 / 3;
	}

	.rateTitle {
		grid-row: 3 / 4;
	}
}
